html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	background: linear-gradient(0deg, var(--bg-gradient-color-bottom), var(--bg-gradient-color-top)); /* light (top) to slightly darker (bottom) */
	color: var(--main-text-color);

	font-family: "Avenir Next";

	cursor: default;
}

.container {
	display: flex;

	width: 100%;
	height: 100%;
}

.menu {
	flex: 0 0 1;
	width: 150px;
	position: relative;

	background-color: var(--main-color);
	color: white;

	display: flex;
	align-items: center;

	-webkit-app-region: drag;
	-webkit-user-select: none;
}

.menu > div {
	width: 100%;
}

.menu-title {
	margin: 0;
	font-size: 14pt;
	font-weight: 500;

	margin-left: 15px;
	margin-right: 15px;
	padding-bottom: 5px;
	margin-bottom: 10px;

	/*border-bottom: 1px solid rgba(0, 0, 0, 0.1);*/
}

.menu label {
	display: block;
	padding: 5px 15px;
	font-size: 10pt;
	cursor: pointer;
	-webkit-app-region: no-drag;
}

.menu input[type="radio"] {
	display: none;
}

.menu input[type="radio"]:checked + label {
	background-color: rgba(0, 0, 0, 0.4);
}

.preferences {
	flex: 1;
	padding: 10px 20px;
	display: flex;
	align-items: center;
	position: relative;
}

.preferences > section {
	min-width: 100%;
}

.preferences h2 {
	font-size: 12pt;
	font-weight: 500;
	margin: 10px 0px;
}

.preferences input[name="background-color"], .preferences input[name="primary-color"] {
	display: none;
}

.preferences input[name="background-color"] + label, .preferences input[name="primary-color"] + label {
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 5px;
	margin-right: 5px;
	cursor: pointer;
	border: 4px solid rgba(0, 0, 0, 0.1);
}

.preferences input[name="background-color"]:checked + label, .preferences input[name="primary-color"]:checked + label {
	border-color: rgba(0, 0, 0, 0.4);
}